/* index.css */

/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #282c34;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Center the navigation items */
nav {
    flex: 1; /* Allow nav to take available space */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the links */
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Movie List Styles */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-item {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
}

.movie-item:hover {
    transform: scale(1.05);
}

.movie-item img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-item h3 {
    margin: 10px 0 5px;
}

.movie-item p {
    margin: 0;
}

/* Search Bar Styles */
.search-bar {
    margin: 20px 0;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #444;
}
